---
const { href, title, body } = Astro.props;
---
<!-- #ns_footer -->
<footer id="ns_footer">

  

  <nav class="ns_header-nav">
    <div class="ns-showhide-pc">
      <ul class="ns_header-nav-list ns_header-nav-list--pc">
        <li class="inactive"><a href="//www.nissin.com/jp/news/">ニュース</a></li>
        <li class="active"><a href="//www.nissin.com/jp/products/">製品</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/customer/">お客さま窓口</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/ir/">IR</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/about/">日清食品グループ</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/recruit/" target="_blank" class="ns_header-nav-a-recruit">リクルート</a></li>
        <li><a href="https://store.nissin.com/" target="_blank" class="ns_header-nav-a-online">オンラインストア</a></li>
      </ul>
    </div>
    <div class="ns-showhide-sp">
      <ul class="ns_header-nav-list ns_header-nav-list--sp">
        <li class="inactive"><a href="//www.nissin.com/jp/news/">ニュース</a></li>
        <li class="active"><a href="//www.nissin.com/jp/products/">製品</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/customer/">お客さま窓口</a></li>
        <li><a href="https://store.nissin.com/" target="_blank">オンライン<br>ストア</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/ir/">IR</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/sustainability/">サステナビリティ </a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/about/">グループ情報</a></li>
        <li class="inactive"><a href="//www.nissin.com/jp/recruit/" target="_blank">リクルート</a></li>
      </ul>
      <ul class="ns_header-nav-list ns_header-nav-list--sp language">
        <li><a class="js-region-switch" href="//www.nissin.com/en_jp/">ENGLISH</a></li>
      </ul>
    </div>
  </nav>

  <div class="ns-wrapper">
    <div class="ns_footer-privacy-links">
      <ul>
        <li><a href="//www.nissin.com/jp/docs/terms.html">サイトのご利用について</a><span>|</span></li>
        <li><a href="//www.nissin.com/jp/docs/privacy.html">プライバシーポリシー</a><span>|</span></li>
        <li><a href="//www.nissin.com/jp/docs/policy.html">個人情報保護法に基づく公表事項</a></li>
      </ul>
      <p><a class="js-region-switch" href="//www.nissin.com/en_jp/">ENGLISH</a></p>
      <small><span>Copyright &copy;2022 NISSIN FOODS HOLDINGS CO.,LTD. </span>All Rights Reserved.</small>
    </div>
  </div>

  <!-- #ns_to_top -->
  <!-- //#ns_to_top -->

</footer>
<!-- //#ns_footer -->


<!-- #ns_to_top -->
<a id="ns_to_top" class="js-to-top">ページトップヘ</a>
<!-- //#ns_to_top -->